@using System.Web.Mvc.Html
@using HtmlTableHelper
@model HtmlTableHelper.ViewModel.TableViewModel

<table>
    <thead>
        <tr>
            @foreach (var col in Model.Header)
            {
                <th>
                    @col
                </th>
            }
        </tr>
    </thead>
</table>
